.remove-btn{
    padding: .5em 1em;
    border-radius: 5px;
    border: none;
    background-color: rgb(190, 18, 18);
    color: white;
    display: block;
    left: 0;
}
.card-body img{
    height: 400px;
}
.nominee-details{
    margin-left: 20px;
}